################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BlazorGitHubPagesDemo/FileContentIndex/97e288dd-a7da-468e-b520-7dec0d712641.vsidx
/.vs/BlazorGitHubPagesDemo/FileContentIndex/47a0aef0-3d84-4af9-bf7f-0fde57d99aec.vsidx
/.vs/BlazorGitHubPagesDemo/FileContentIndex/10950156-f64d-4e92-ae63-7254213a0ae7.vsidx
/.vs/BlazorGitHubPagesDemo/FileContentIndex/052940b4-3472-471a-bb00-a1c626b416b0.vsidx
