@page "/Update"
@inject HttpClient http

<PageTitle>update</PageTitle>


<h1>@dynamicData</h1>



@code{
	
	private string dynamicData;
	private Timer timer;


	protected override async Task OnInitializedAsync()
	{
		
		timer = new Timer(async _ =>
		{
			
			await FetchData();
			StateHasChanged();
		}, null, TimeSpan.Zero, TimeSpan.FromSeconds(3));
	}



	public async Task FetchData()
	{
		
		dynamicData = await http.GetStringAsync("https://www.betano.cz/signalr/negotiate?clientProtocol=1.5&connectionData=%5B%5D");
	}

	 
}
 
