<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorGitHubPagesDemo</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

      <div class="nav-item px-3">
            <NavLink class="nav-link" href="Update">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Kurzy
            </NavLink>
        </div>     
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="wss">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Wss 
            </NavLink>
        </div> 
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
